[submodule "autoconf-common"]
	path = autoconf-common
	url = https://github.com/suxue/autoconf-common.git
    ignore = dirty
[submodule "doc"]
	path = doc
	url = https://github.com/suxue/luamm.wiki.git
    ignore = dirty
